{% from _self import renderPager %}

{% set layout = "ClarolineForumBundle::layout.html.twig" %}

{% extends layout %}
    
{% block title %}{{ _resource.getResourceNode().getName() ~ ' - ' ~ parent() | striptags | raw  }}{% endblock %}

{% block forum_content %}
    <div class="panel-heading">
        <a class="slrn-read-faq pink_link" href="{{ path( 'solerni_static_page', { 'name': 'cms_faq' } ) }}">{{ 'read_faq'|trans({}, 'platform') }}</a>
        <h3 class="slrn-panel-title">{{ 'all categories'|trans({}, 'forum') }}</h3>
    </div>
    <div class="panel-body">
        <div class="navbar row">
            <div class="col-md-8">
                {% if isModerator %}
                <a class="btn btn-primary" href="{{ _path('claro_forum_form_category_creation', {'forum': _resource.getId()}) }}">
                    {{ 'new_category'|trans({}, 'forum') }}
                </a>
                {% endif %}
                {% if is_mailer_available() %}
                    {% if hasSubscribed %}
                        <a class="btn btn-primary" href="{{ _path('claro_forum_unsubscribe', {'forum': _resource.getId()}) }}">
                            {{ 'unsubscribe_mail_list'|trans({}, 'forum') }}
                        </a>
                    {% else %}
                        <a class="btn btn-primary" href="{{ _path('claro_forum_subscribe', {'forum': _resource.getId()}) }}">
                            {{ 'subscribe_mail_list'|trans({}, 'forum') }}
                        </a>
                
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="table-responsive">
            <table id="subjects_table" class="slrn-forum-table table table-striped table-bordered table-condensed">
                <thead>
                    <tr class="slrn-forum-table__th">
                        <th class="slrn-forum-table__th-category">{{ 'category'|trans({}, 'forum') }}</th>
                        <th class="slrn-forum-table__th-msg">{{ 'messages'|trans({}, 'forum') }} </th>
                        <th class="slrn-forum-table__th-lastmsg">{{ 'last_message'|trans({}, 'forum') }}</th>
                    </tr>
                </thead>
                <tbody id="table-subjects-body">
                {% set theme = 1 %}
                {% for category in categories %}
                    <tr class='row-category'>
                        <td>
                            <a class="link-category"
                                href="{{ path('claro_forum_subjects', {'category': category['id']} ) }}"
                            >
                                <b>Thème {{ theme }}</b> : cd 
                                {{ category['name'] }}
                            </a>
                            <div class="slrn-name-date">{{ category['creation_date'] | widgetForumDate() }}</div>
                            {% if isModerator %}
                            <div class="slrn-forum__tools">
                                <a href="{{ path('claro_forum_edit_category_form', {'category': category['id']}) }}">
                                    <i class="icon-pencil"></i> {{ 'edit' | trans({}, 'platform') }}
                                </a>
                            
                                <a href="{{ path('claro_forum_delete_category', {'category': category['id']}) }}">
                                    <i class="icon-trash"></i> {{ 'delete' | trans({}, 'platform') }}
                                </a>
                            </div>
                           {% endif %}
                       </td>
                        <td class="text-center">
                            <b>{{ category['count_messages'] }}</b>
                        </td>
                        <td>
                            {% if category['last_message_creator_firstname'] %}
                                {{ 'started_by' | trans({}, 'forum') }} 
                                <b>
                                <a href="{{ path('claro_profile_view', {'userId': category['last_message_creator_id']}) }}">
                                    {{ category['last_message_creator_firstname'] }}
                                    {{ category['last_message_creator_lastname'] }}
                                </a>
                                </b>
                            {% endif %}
                            {% if  category['last_message_created'] %}
                            <div>
                                 {{ category['last_message_created'] | widgetForumDate() }}
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                    {% set theme = theme + 1 %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts debug=false vars=["locale"]
        "@ClarolineForumBundle/Resources/views/removeCategoryConfirm.html.twigjs"
        filter="twig_js"
    %}<script language="javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $('#search-button').on('click', function(event) {
            event.preventDefault();
            var search = document.getElementById('search-items-txt').value;
            if (search !== '') {
                var route = Routing.generate('claro_forum_search', {'forum': {{ _resource.getId()}}, 'search': document.getElementById('search-items-txt').value});
                window.location.href = route;
            }
        });
    </script>
        {% if isModerator %}
            <script>
               function createValidationBox() {
                    var html = Twig.render(
                        ModalWindow,
                        {'footer': Twig.render(ValidationFooter), 'isHidden': true, 'modalId': 'confirm-modal', 'body': Twig.render(removeCategoryConfirm, {'nbItems': 1})}
                    );
                    $('body').append(html);
                }

                createValidationBox();
                var tmpRoute = '';
                var tmpEl = undefined;

                $('body').on('click', '#delete-category', function(event) {
                    event.preventDefault();
                    $('#confirm-modal').modal('show');
                    tmpRoute = event.currentTarget.href;
                    tmpEl = event.currentTarget;
                });

                $('body').on('click', '#modal-valid-button', function(event) {
                    $('#confirm-modal').modal('hide');
                    $.ajax({
                        url: tmpRoute,
                        success: function () {
                            $(tmpEl)[0].parentElement.parentElement.remove();
                        }
                    });
                });
            </script>
    {% endif %}
{% endblock %}
