{% macro renderPager(categoryId, pager, max) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'claro_forum_subjects',
                'routeParams': {'category': categoryId, 'max': max}
            }
        )
    }}
{% endmacro %}

{% macro renderOptions(options, selectedOption) %}
    {% for option in options %}
        <option {{ option == selectedOption ? 'selected' : '' }}>{{ option }}</option>
    {% endfor %}
{% endmacro %}

{% from _self import renderPager %}
{% from _self import renderOptions %}

{% set layout = "ClarolineForumBundle::layout.html.twig" %}

{% extends layout %}

{% block title %}{{ _resource.getResourceNode().getName() ~ ' - ' ~ parent() | striptags | raw  }}{% endblock %}
    
{% block forum_breadcrumb %}
    <ul class="slrn-breadcrumb">
        <li><a href="{{ path('claro_forum_categories', { 'forum': category.getForum().getId() }) }}">Tous les thèmes</a></li>
        <li class="active"> Tous les sujets du thème : {{ category.getName() }} </li>
    </ul>
{% endblock %}

{% block forum_content %}
    <div class="panel-heading">
        <h3 class="slrn-panel-title">Tous les sujets du thème : {{ category.getName() }}</h3>
    </div>
    <div class="panel-body">
        <div class="navbar row">
            <div class="col-md-9">
                {% if canCreateSubject %}
                    <a class="btn btn-primary" href="{{ _path('claro_forum_form_subject_creation', {'category': category.getId()}) }}">
                       {{ 'new_subject'|trans({}, 'forum') }}
                    </a>
                {% endif %}
            </div>
            <div class="col-md-3 pull-right">
            </div>
        </div>
        <div class="table-responsive">
            <table id="subjects_table" class="slrn-forum-table table table-striped table-bordered table-condensed">
                <thead>
                    <tr class="slrn-forum-table__th">
                        <!--th></th-->
                        <th class="slrn-forum-table__th-category">{{ 'subject'|trans({}, 'forum') }}</th>
                        <th class="slrn-forum-table__th-msg">{{ 'responses'|trans({}, 'forum') }}</th>
                        <th class="slrn-forum-table__th-lastmsg">{{ 'last_message'|trans({}, 'forum') }}</th>
                    </tr>
                </thead>
                <tbody id="table-subjects-body">
                {% for subject in pager.currentPageResults %}
                    <tr class='row-subject'>
                        {#<td>
                            {%  if isModerator %}
                                {% if subject['isSticked'] == true %}
                                    <a href="{{ path('claro_subject_unstick', {'subject': subject['id']}) }}">
                                        <i class="icon-paper-clip"></i> {{ 'unstick' | trans({}, 'forum') }}
                                    </a>
                                {% else %}
                                    <a href="{{ path('claro_subject_stick', {'subject': subject['id']}) }}">
                                        <i class="icon-paper-clip"></i> {{ 'stick' | trans({}, 'forum') }}
                                    </a>
                                {% endif %}
                            {% else %}
                                {% if subject['isSticked'] == true %}
                                    <i class="icon-paper-clip"></i> {{ 'stuck' | trans({}, 'forum') }}
                                {% endif %}
                            {% endif %}
                        </td>#}
                        <td>
                            <a class="link-subject"
                                href="{{ _path('claro_forum_messages', {'subject': subject['id'] }) }}"
                            >
                                <b>{{ subject['title'] }}</b>
                            </a>
                            <div class="slrn-name-date">
                                {{ 'started_by' | trans({}, 'forum') }}
                                <b>
                                    <a href="{{ path('claro_profile_view', {'userId': subject['subject_creator_id']}) }}">
                                    {{ subject['subject_creator_firstname'] }}
                                    {{ subject['subject_creator_lastname'] }}</a></b>,
                                {{ subject['subject_created'] | widgetForumDate()}}
                            </div>
                            <div class="slrn-forum__tools"> 
                                
                            {% if isModerator or app.user.id == subject['subject_creator_id'] %}
                                <a href="{{ path('claro_forum_edit_subject_form', {'subjectId': subject['id'] }) }}">
                                    <i class="icon-pencil"></i> {{ 'edit' | trans({}, 'platform') }}
                                </a>
                            {% endif %}
                            
                            {% if isModerator %}
                                <a id="move-subject" href="{{ path('claro_subject_move_form' , {'subject': subject['id']}) }}">
                                    <i class="icon-arrow-right"></i> {{ 'move' | trans({}, 'platform') }}
                                </a>
                                <a id="delete-subject" href="{{ _path('claro_forum_delete_subject', {'subject': subject['id']}) }}">
                                    <i class="icon-trash"></i> {{ 'delete' | trans({}, 'platform') }}
                                </a>
                            {% endif %}
                            </div>
                        </td>
                        <td class="text-center">
                            <b>{{ subject['count_messages'] }}</b>
                        </td>
                        <td>
                            {{ 'started_by' | trans({}, 'forum') }} 
                            <b>
                                <a href="{{ path('claro_profile_view', {'userId': subject['last_message_creator_id']}) }}">
                                   {{ subject['last_message_creator_firstname'] }}
                                   {{ subject['last_message_creator_lastname'] }}
                                </a>
                            </b>
                            <br/>
                            {{ subject['last_message_created'] | widgetForumDate() }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="slrn-pager">
            {{ renderPager(category.getId(), pager, max) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        debug=false
        vars=["locale"]
        "@ClarolineForumBundle/Resources/views/removeSubjectConfirm.html.twigjs"
        filter="twig_js"
    %}
        <script language="javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if isModerator %}
        <script>
            function createValidationBox() {
                var html = Twig.render(
                    ModalWindow,
                    {'footer': Twig.render(ValidationFooter), 'isHidden': true, 'modalId': 'confirm-modal', 'body': Twig.render(removeSubjectConfirm, {'nbItems': 1})}
                );
                $('body').append(html);
            }

            createValidationBox();
            var tmpRoute = '';
            var tmpEl = undefined;

            $('body').on('click', '#delete-subject', function (event) {
                event.preventDefault();
                $('#confirm-modal').modal('show');
                tmpRoute = event.currentTarget.href;
                tmpEl = event.currentTarget;
            });

            $('body').on('click', '#modal-valid-button', function () {
                $('#confirm-modal').modal('hide');
                $.ajax({
                    url: tmpRoute,
                    success: function () {
                        $(tmpEl)[0].parentElement.parentElement.remove();
                    }
                });
            });
            $('#max-select').on('change', function () {
                window.location.href = Routing.generate(
                    'claro_forum_subjects',
                    {'category': {{ category.getId()}}, 'max': $(this).val()}
                );
            });
        </script>
    {% endif %}
{% endblock %}
